.products-slider {

  &__container {}

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: $mobileSmall) {
      & {
        flex-direction: column;
        & > *:not(:last-child) {
          margin-bottom: rem(5);
        }
      }
      .products-slider__more {
        gap: rem(5);
       }
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__title {
    letter-spacing: 0.05em;
    font-size: rem(30);
    font-weight: 700;
    line-height: math.div(46, 30);
    @include adaptiveValue("font-size", 30, 24);
    @include adaptiveValue("line-height", 46, 32);
  }

  &__more {
    color: rgba(20, 20, 20, 0.58);
    transition: color .3s ease 0s;
    font-weight: 600;
    font-size: rem(18);
    display: inline-flex;
    align-items: center;
    gap: em(15, 18);

    &::after {
      font-family: 'icomoon';
      content: "\e90c";
      font-size: em(7, 18);
      transform: rotate(-90deg);
      color: $mainGold;
    }

    @media(any-hover: hover) {
      &:hover {
        color: rgba(20, 20, 20, 1);
      }
    }
  }

  &__slider {
    padding: rem(15);
    margin: 0 rem(-15);
  }

  &__swiper {}

    @media(max-width: $mobileSmall) {
      &__dotts {
        transform: translateX(20%) !important;
      }
    }

  &__dotts {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding-top: rem(60);
    width: auto !important;

    .swiper-pagination-bullet {
      margin: 0 rem(7.5);
      background: none !important;
      opacity: 100 !important;

      cursor: pointer;
      height: rem(30);
      width: rem(18);
      position: relative;

      &::after {
        content: "";
        background-color: #898989;
        position: absolute;
        width: 100% !important;
        top: 50%;
        transform: translate(0px, -50%);
        width: rem(15);
        height: rem(2);
      }

      &::before {
        content: "";
        background-color: $mainGold;
        width: rem(10);
        height: rem(10);
        top: 50%;
        left: 0;
        border-radius: 50%;
        transform: translate(0px, -50%);
        position: absolute;
        opacity: 0;
      }
    }
  }
  .swiper-pagination-bullet-active {
      width: rem(30);
      transition: width .6s ease 0s;
      &::after {
        background-color: $mainGold;
      }
      &::before {
        opacity: 1;
        transition: left 3.80s linear 0s;
        left: rem(20);
      }
    }
}

.product-card {
  background-color: #fff;
  margin: rem(5);
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s ease 0s;

  @media(any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    }
  }

  &__image-ibg {
    text-align: center;

    &_contain {}
  }

  &__body {
    padding: rem(20);
    display: flex;
    flex-direction: column;
  }

  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      margin-bottom: em(10, 20);
    }
  }

  &__link-title {}

  &__info {
    &:not(:last-child) {
      margin-bottom: em(10, 16);
    }
  }

  &__rating {
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }

  &__footer {
    border-top: 1px solid rgba(20, 20, 20, 0.5);
    padding: rem(20) 0;
    display: flex;
    align-items: center;
    gap: rem(15);
  }

  &__price {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
  }

  &__compare,
  &__favorite {
    font-size: rem(24);
    transition: color .3s ease 0s;

    @media(any-hover: hover) {
      &:hover {
        color: $mainGold;
      }
    }
  }

  &__compare {}

  &__favorite {}

  &__cart {
    width: 100%;
    @include adaptiveValue('padding-right', 3.25, 1.25);
    @include adaptiveValue('padding-left', 3.25, 1.25);
    span {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;

      &::before {
        margin-left: rem(16);
      }
    }
  }
}

.info-product-card {
  color: #ababab;
  display: flex;
  justify-content: space-between;
  gap: rem(10);
  font-size: rem(16);

  &__size {}

  &__materials {
    text-align: right;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//==============================================================================================================================================
.products-new {
  background: url("../img/new-products/bg.jpg") bottom / cover no-repeat;
  @include adaptiveValue('padding-top', 55, 20);
  @include adaptiveValue('padding-bottom', 25, 20);

  &__container {
    display: grid;
    grid-template-columns: percent(400, 1600) 1fr;
    @media(max-width: 820px) {
      grid-template-columns: none;
      .link-arrow {
        @include adaptiveValue('margin-bottom', 0, 60);
      }
      .products-new__title {
        text-align: center;
      }
    }
  }

  &__body {
    @include adaptiveValue('padding-right', 70, 30);
  }

  &__title {
    font-weight: 700;
    color: #fff;
    @include adaptiveValue('font-size', 30, 24);
    line-height: math.div(46, 30);
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }

  &__text {
    line-height: math.div(27, 18);
    letter-spacing: 0.03em;
    color: rgba(#fff, 0.7);
    @include adaptiveValue('font-size', 18, 16);
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 60, 20);
    }
  }

  &__link {}

  &__slider {
    display: grid;
    min-width: 0;
    padding-top: rem(37);
  }

  &__swiper {}

  &__slide {
  }

  &__dotts {
    left: 0 !important;
    position: relative;
    z-index: 2;
    padding-top: rem(40);
    transform: translateX(-300%) !important;
  }

}

//==============================================================================================================================================
.dotts {
  display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: auto !important;
  
    .swiper-pagination-bullet {
      margin: 0 rem(7.5);
      background: none !important;
      opacity: 100 !important;
  
      cursor: pointer;
      height: rem(30);
      width: rem(18);
      position: relative;
  
      &::after {
        content: "";
        background-color: #898989;
        position: absolute;
        width: 100% !important;
        top: 50%;
        transform: translate(0px, -50%);
        width: rem(15);
        height: rem(2);
      }
  
      &::before {
        content: "";
        background-color: $mainGold;
        width: rem(10);
        height: rem(10);
        top: 50%;
        left: 0;
        border-radius: 50%;
        transform: translate(0px, -50%);
        position: absolute;
        opacity: 0;
      }
    }
    .swiper-pagination-bullet-active {
    width: rem(30);
    transition: width .6s ease 0s;
  
    &::after {
      background-color: $mainGold;
    }
  
    &::before {
      opacity: 1;
      transition: left 3.80s linear 0s;
      left: rem(20);
    }
  }
  }
//==============================================================================================================================================

.link-arrow {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  color: $mainGold;
  white-space: nowrap;
  @include adaptiveValue('font-size', 20, 18);
  &::before {
    margin-left: em(15, 20);
    transform: rotate(-90deg);
    font-size: rem(8);
  }
  @media(any-hover: hover){
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

//==============================================================================================================================================
.breadcrumbs {
  white-space: nowrap;
  overflow: auto;
  height: rem(22);

  &__list {
    display: flex;
  }

  &__item {}

  &__link {
    opacity: .5;
    display: flex;
    align-items: center;
    &::after {
      font-family: 'icomoon';
      content: "\e903";
      transform: rotate(90deg);
      font-size: rem(6);
      margin: 0 em(10, 6);
    }
  }

  &__current {
    color: $mainGold;
  }
}

//==============================================================================================================================================
.title {
  font-weight: 700;
  font-size: rem(24);
  line-height: math.div(29, 24);
  &:not(:last-child) {
    margin-bottom: em(25, 24);
  }
}

//==============================================================================================================================================

.control {
  padding: 0 10px;
  min-width: rem(375);
  cursor: pointer;
  height: rem(40);
  outline: none;
  background: transparent;
  border: 1px solid rgba(4, 4, 4, 0.3);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

//==============================================================================================================================================

.pagging {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: rem(30);

  &__arrow {
    color: $mainGold;
    &::before {
      font-size: rem(6);
    }
    &:disabled {
      color: rgba(0,0,0,.12);
    }

    &_left {
      transform: rotate(90deg);
    }

    &_right {
      transform: rotate(-90deg);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: rem(13);
  }

  &__item {}

  &__link {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &._active {
      background-color: $mainGold;
      color: #fff;
    }
  }
}