.main-block {
  background: url('../img/mainpage/mainblock/bg.png') center / cover no-repeat;
  @include adaptiveValue('padding-top', 40, 40);
  @include adaptiveValue('padding-bottom', 60, 40);

  &__container {}

  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    row-gap: rem(40);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 43, 30);
    }
    @media(min-width: $tablet) {
      grid-template-columns: 1fr percent(635, 1600);
    }
  }

  &__slider {
    cursor: pointer;
    width: rem(915);
    margin:  0 rem(-20);
    padding: 0 rem(30);
  }

  &__swiper {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__slide {}

  &__media {}

  &__advantages {
    
  }

    &__controll {}

  
}

 .controll-main-block {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: rem(20);
   &__dotts {
    display: inline-grid;
    grid-auto-flow: column;
    gap: rem(15);
    .swiper-pagination-bullet {
      cursor: pointer;
      height: rem(30);
      width: rem(18); 
      position: relative;
      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100% !important;
        top: 50%;
        transform: translate(0px, -50%);
        width: rem(15);
        height: rem(2);
      }
      &::before {
        content: "";
        background-color: $mainGold;
        width: rem(10);
        height: rem(10);
        top: 50%;
        left: 0;
        border-radius: 50%;
        transform: translate(0px, -50%);
        position: absolute;
        opacity: 0;
      }
    }
    .swiper-pagination-bullet-active {
      width: rem(30);
      transition: width .6s ease 0s;
      &::after {
        background-color: $mainGold;
      }
      &::before {
        opacity: 1;
        transition: left 3.80s linear 0s;
        left: rem(20);
      }
    }
   }

   &__fraction {
    
   }
 }

 .fraction-controll {
    display: flex;
    color: #fff;
    align-items: center;
    font-weight: 600;
    letter-spacing: .2em;
   &__current {
    color: $mainGold;
    font-size: rem(24); 
   }

   &__all {
    font-size: rem(18);
   }
 }

.slide-main-block {

  &__content {
    color: #fff;
    &:not(:last-child) {
      margin-bottom: rem(60);
    }
    @media(min-width: $tablet) {
      padding: 0 rem(40) 0 0;
    }
    @media(max-width: $mobile) {
      max-width: rem(320);
    }
  }

  &__title {
    font-weight: 700;
    letter-spacing: em(0.03);
    line-height: math.div(46, 36);
    @include adaptiveValue("font-size", 36, 22, 1, 992);
    &:not(:last-child) {
      margin-bottom: em(15,36);
    }
  }

  &__subtitle {
    line-height: math.div(46, 36);
    @include adaptiveValue("font-size", 36, 22, 1, 992);
    &:not(:last-child) {
      margin-bottom: em(30, 36);
    }
  }

  &__text {
    line-height: math.div(30, 20);
    color: rgba(255, 255, 255, .7);
    @include adaptiveValue("font-size", 20, 16, 1, 992);
    @media(max-width: $mobileSmall) {
      max-width: rem(260);
    }
  }

  &__button {
    display: inline-block;
    background-color: $mainGold;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    border-radius: 3px;
    font-weight: 600;
    font-size: rem(20);
    text-align: center;
    padding: rem(8) rem(52);
    color: #fff;
    line-height: math.div(32,20);
    transition: box-shadow .3s ease 0s;
    @media(any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.83);
      }
    }
  }
}

.media-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(15);

  &__body {
    position: relative;
  }

  &__image {
    &::before {
      content: "";
      position: absolute;
      width: percent(423, 449);
      padding-bottom: percent(423, 449);
      bottom: 3.5%;
      right: 0;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      transform: translate(percent(131, 423), 0px);
      
    }
    img {
      position: relative;
      z-index: 2;
      max-width: 100%;
    }
  }
    @media(max-width: $mobile) {
      &__image {
        &::before {
          display: none;
        }
      }
      &__tip {
        display: none;
      }
    }

  &__tips {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &__tip {
    width: rem(20);
    height: rem(20);
    position: absolute;
    cursor: pointer;
    transition: box-shadow .3s ease 0s;
    @media(any-hover: hover) {
      &:hover {
        &::before,
        &::after {
          box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.43);
        }
        
       
      }
    }
      &::before,
      &::after {
        content: "";
        border-radius: 50%;
        background-color: $mainGold;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      &::after {
        opacity: .5;
        transform: scale(1.6);
      }
      span {
        position: relative;
        z-index: 2;
        color: #fff;
        font-weight: 600;
        font-size: rem(20);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &_1 {
        top: percent(179, 500); //высота от кружка до верха деленная на высоту всего блока
        left: percent(70, 447); //ширина от кружка до верха деленная на ширину всего блока
      }

      &_2 {
        top: percent(50, 500);
        left: percent(412, 447);
      }

      &_3 {
        top: percent(357, 500);
        left: percent(397, 447);
      }
  }
}

.advantages-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: rem(20);
  text-align: center;
  @media(max-width: $tablet) {
    row-gap: rem(30);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @media(max-width: $mobileSmall) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__item {
    display: grid;
    grid-template-rows: 77px auto;
    gap: rem(17);
    justify-items: center;
    color: #fff;
    max-width: rem(290);
  }

  &__icon {
    align-self: center;
  }

  &__text {
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(32, 20);
  }
}

//==============================================================================================================================================
.catalog-cards {
  @include adaptiveValue('padding-top', 100, 40);
  @include adaptiveValue('padding-bottom', 70, 40);

  &__container {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
    @media(max-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
    }
  }

  &__item {
    
  }
}

.item-catalog-cards {
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: rem(290);
  @media(max-width: $mobileSmall) {
      & {
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        max-width: rem(320);
      }
    }
  &__body {
    @include adaptiveValue('padding', 30, 20);
    position: relative;
    z-index: 2;
  }
  

  &__title {
    &:not(:last-child) {
      margin-bottom: em(30, 24);
    }
  }

  &__link-title {
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 24);
    display: inline-block;
    &::after {
      content: "";
      width: rem(70);
      height: rem(2);
      margin-top: rem(15);
      display: block;
      background-color: $mainGold;
      transition: width .8s ease 0s;
    }
    @media(any-hover: hover){
        &:hover {
          &::after {
            width: 100%;
          }
      }
    }
  }

  &__list {}

  &__item {
    position: relative;
    padding-left: rem(20);
    &::before {
      content: "";
      width: rem(6);
      height: rem(6);
      background-color: $mainGold;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: em(8, 18);
    }
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__link {
    font-size: rem(18);
    line-height: math.div(24, 18);
    @media(any-hover: hover){
        &:hover {
          text-decoration: underline;
      }
    }
  }

  &__image {
    width: 100%; 
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      max-width: 100%;
    }
  
    @media(min-width: $mobileSmall) {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}
//==============================================================================================================================================
.hits-products {
  @include adaptiveValue('padding-top', 50, 40);
  @include adaptiveValue('padding-bottom', 120, 40);
}